.contact_section {
  position: relative;
}

.contact_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact_section .form_container {
  background-color: #3a3f58;
  padding: 45px;
  margin-bottom: -90px;
  border: 5px solid #ffffff;
  color: #ffffff;
}

.contact_section .form_container .heading_container {
  margin-bottom: 30px;
}

.contact_section .form_container input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 15px;
  outline: none;
  color: #101010;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.contact_section .form_container input::-webkit-input-placeholder {
  color: #333;
}

.contact_section .form_container input:-ms-input-placeholder {
  color: #333;
}

.contact_section .form_container input::-ms-input-placeholder {
  color: #333;
}

.contact_section .form_container input::placeholder {
  color: #333;
}

.contact_section .form_container input.message-box {
  height: 120px;
}

.contact_section .form_container .btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.contact_section .form_container button {
  border: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 55px;
  background-color: #e45441;
  color: #ffffff;
  border-radius: 0px;
  border: 1px solid #e45441;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.contact_section .form_container button:hover {
  background-color: transparent;
  color: #e45441;
}

.contact_section .subscribe-box h3 {
  font-weight: 600;
  text-transform: uppercase;
}

.contact_section .subscribe-box p {
  color: #777;
}

.contact_section .subscribe-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.contact_section .subscribe-box form input {
  background-color: #ccc;
  height: 50px;
  padding-left: 15px;
  outline: none;
  color: #ffffff;
  border: none;
  width: 100%;
  margin-bottom: 15px;
}

.contact_section .subscribe-box form input::-webkit-input-placeholder {
  color: #555;
}

.contact_section .subscribe-box form input:-ms-input-placeholder {
  color: #555;
}

.contact_section .subscribe-box form input::-ms-input-placeholder {
  color: #555;
}

.contact_section .subscribe-box form input::placeholder {
  color: #555;
}

.contact_section .subscribe-box form button {
  background-color: transparent;
  color: #3a3f58;
  text-transform: uppercase;
  outline: none;
  border: none;
  display: inline-block;
  padding: 10px 45px;
  background-color: #3a3f58;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #3a3f58;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.contact_section .subscribe-box form button:hover {
  background-color: transparent;
  color: #3a3f58;
}
