.info_section {
  background-color: #262939;
  color: #ffffff;
  padding: 165px 0 75px 0;
}

.info_section.innerpage_info_section {
  padding: 75px 0;
}

.info_section h4 {
  margin-bottom: 15px;
}

.info_section .info_contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  margin-bottom: 10px;
}

.info_section .info_contact a i {
  margin-right: 5px;
  width: 25px;
}

.info_section .info_contact a:hover:hover {
  color: #e45441;
}

.info_section .social_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.info_section .social_box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  color: #ffffff;
  margin-right: 10px;
  margin-bottom: 10px;
}

.info_section .social_box a:hover {
  color: #e45441;
  border-color: #e45441;
}
