.info_section {
  background-color: rgb(128, 128, 128, 0.3);
  color: #131212;
  padding: 165px 0 75px 0;
  border-radius: 10px;
}

.info_section.innerpage_info_section {
  padding: 75px 0;
}

.info_section h4 {
  margin-bottom: 15px;
}

.row {
  display: flex;
  justify-content: space-between; /* Spread the items evenly */
  align-items: center; /* Align the items vertically */
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.logo-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-md-6,
.col-lg-3 {
  flex: 1 1 30%; /* Ensures the items are evenly spaced in the row */
  margin: 10px;
}

.info_section .info_contact a {
  display: flex;
  align-items: center;
  color: #1a1919;
  margin-bottom: 10px;
}

.info_section .info_contact a i {
  margin-right: 5px;
  width: 25px;
}

.info_section .info_contact a:hover {
  color: #e45441;
}

.info_section .social_box {
  display: flex;
  flex-wrap: wrap;
}

.info_section .social_box a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  color: #ffffff;
  margin-right: 10px;
  margin-bottom: 10px;
}

.info_section .social_box a:hover {
  color: #e45441;
  border-color: #e45441;
}

.logo-size-info {
  width: 200px;
  height: 200px;
}
