.service_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-top: 45px;
  position: relative;
}

.service_section .box .img-box {
  position: relative;
  width: 145px;
  height: 145px;
  margin-bottom: -72.5px;
}

.service_section .box .img-box img {
  width: 100%;
  border-radius: 100%;
  border: 5px solid #ffffff;
}

.service_section .box .detail-box {
  background-color: #3a3f58;
  color: #ffffff;
  padding: 97.5px 25px 25px 25px;
}

.service_section .box .detail-box h5 {
  margin-bottom: 0;
  font-weight: 600;
}

.service_section .box .detail-box p {
  font-size: 15px;
  margin-top: 12px;
  margin-bottom: 15px;
}

.service_section .box a {
  display: inline-block;
  padding: 8px 30px;
  background-color: #e45441;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #e45441;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.service_section .box a:hover {
  background-color: transparent;
  color: #e45441;
}
